<%- include("partials/header.ejs") %>
  
  <!-- Headline -->
  <div class="py-5" id="home">
    <div class="container">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="images/woman_contemplating.jpg" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Struggling to re-write your resume?</h1>
          <p class="lead">When switching careers, it can be hard to see your own strengths clearly. We help you tell your real story.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="#form" class="btn btn-primary btn-lg px-4 me-md-2">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Steps -->
  <div class="py-5" id="steps">
    <div class="container">
      <div class="p-3 pb-md-4 mx-auto text-center">
        <h2 class="pb-2 border-bottom">Your new resume in 3 easy steps</h2>
      </div>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <i class="bi bi-ui-checks"></i>
          </div>
          <div>
            <h3 class="fs-2">Pre-Interview Survey</h3>
            <p>5-minute survey for us to get some background info on you. This helps us prepare for the 1:1 interview so that we make the best use of your time</p>
            <a href="#form" class="btn btn-primary">
              Get Started
            </a>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <i class="bi bi-telephone"></i>
          </div>
          <div>
            <h3 class="fs-2">1:1 Interview</h3>
            <p>We'll spend an hour on a virtual call to drill into the specifics of your career so that we can build a clearer story of your strengths.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <i class="bi bi-pencil-square"></i>
          </div>
          <div>
            <h3 class="fs-2">Review Final Draft</h3>
            <p>Fact check your new resume for any inaccuracies. You're all set!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pricing -->
  <div class="py-5" id="pricing">
    <div class="container">
      <div class="p-3 pb-md-4 mx-auto text-center">
        <h2 class="pb-2 border-bottom">Pricing Packages</h2>
      </div>
      <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-head py-3">
              <h4 class="my-0 fw-normal">Professional</h4>
            </div>
            <div class="card-content">
              <h1 class="card-title pricing-card-title">$490</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>60-minute virtual interview</li>
                <li>1 ATS-optimized base resume</li>
                <li>Keyword optimization for 1 job description</li>
                <li>6-month check-in</li>
              </ul>
              <a href="#form" class="w-100 btn btn-lg btn-outline-primary">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-head py-3">
              <h4 class="my-0 fw-normal">New Developer Portfolio</h4>
            </div>
            <div class="card-content">
              <h1 class="card-title pricing-card-title">$640</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>60-minute virtual interview</li>
                <li>1 ATS-optimized base resume</li>
                <li>Keyword optimization for 1 job description</li>
                <li>Project portfolio static site</li>
              </ul>
              <a href="#form" class="w-100 btn btn-lg btn-primary">Get started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Form -->
  <div class="py-5" id="form">
    <div class="container">
      <div class="p-3 pb-md-4 mx-auto text-center">
        <h2 class="pb-2 border-bottom">Testimonials</h2>
      </div>
      <% if (!locals.image1) { %>
      <form action="/get-form" method="POST" class="d-grid mx-auto col-6">
        <input type="submit" class="btn btn-primary" value="[Coming Soon] Click to get our latest testimonials">
      </form>
      <% } else { %>
      <div class="bd-example m-0 border-0">
        <div id="carouselExampleIndicators" class="carousel slide pointer-event">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" fdprocessedid="f1a79l"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" fdprocessedid="jmbjty"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" fdprocessedid="9pirxk"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src = "https://picsum.photos/id/<%= image1 %>/800/400" width="100%" height="100%" class="d-block"/> 
            </div>
            <div class="carousel-item">
              <img src = "https://picsum.photos/id/<%= image2 %>/800/400" width="100%" height="100%" class="d-block"/> 
            </div>
            <div class="carousel-item">
              <img src = "https://picsum.photos/id/<%= image3 %>/800/400" width="100%" height="100%" class="d-block"/> 
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" fdprocessedid="5x0vib">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" fdprocessedid="vzq7b">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <% } %>
        
    </div>
  </div>

  <!-- About -->
  <div class="py-5" id="about">
    <div class="container">
      <div class="p-3 pb-md-4 mx-auto text-center">
        <h2 class="pb-2 border-bottom">My Story</h2>
      </div>
      <div class="row">
        <div class="col-md-10 order-md-2">
          <h2 class="fw-normal lh-1 featurette-heading">Hi, I'm Ruth, 
            <span>founder of True Story Resumes</span>
          </h2>
          <p>
            I have a Master's degree in Engineering, Economics, and Management, and have spent over a decade in a variety of roles in different industries. I first started writing resumes professionally during Covid-19, when I found myself confined to my small apartment with too much time to kill. <br><br>
            In 2023, I attended a coding bootcamp and met lots of motivated professionals from teachers to visual artists dentists, and veterinarians, all hoping to make a career switch into tech. Unfortunately, we graduated amidst massive layoffs in the tech industry and found ourselves fighting a losing resume battle against many more experienced developers. After 3 months of rejections, I was a wreck. I didn't know the person in my resume and was convinced that I had no useful professional skills. <br><br>
            Then I met a wonderful recruiter and career coach. She listened to me talk through my career history, pointing out my strengths, and reassuring me that my varied experiences were an asset to the right employer. This gave me a renewed confidence in my job search. <br><br>
            Around the same time, I met several other bootcamp graduates in the same situation. Reviewing their resumes, I noticed they looked almost identical! All downplayed their previous experiences, per bootcamps' career services advice, unintentionally resulting in bland, cookie cutter resumes. Remembering how cathartic it had been to have my career viewed in its entirety, I made it my mission to bring back the whole person into the resumes of career switchers. <br><br>
            It can be challenging to craft a clear narrative when switching careers, but I believe showcasing your unique journey is crucial. While I can't guarantee job interviews, I promise to deliver a resume that authentically demonstrates your strengths and experiences, so that you have compelling talking points for memorable conversations with potential hiring managers. I look forward to hearing your story! <br><br>
          </p>
        </div>
        <div class="col-md-2 order-md-1">
          <img src="images/ruth_photo.jpg" width=100% class="rounded-circle object-fit-contain" />
        </div>
      </div>
    </div>
  </div>

<%- include("partials/footer.ejs") %>